<a href="https://colab.research.google.com/github/AfrizalSY/KNN_AI/blob/main/Tupro3_KNN.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Import Library**

In [ ]:
import pandas as pd
import numpy as np

# **Read Dataset**

In [ ]:
!gdown --id 1mHvbeuKY-KZ_OqvHx_72Z5RcAPLMneIg

Downloading...
From: https://drive.google.com/uc?id=1mHvbeuKY-KZ_OqvHx_72Z5RcAPLMneIg
To: /content/mobil.xls
100% 29.2k/29.2k [00:00<00:00, 23.5MB/s]

In [ ]:
df = pd.read_excel('mobil.xls')
df

              Nama Mobil  Ukuran  ...  Kecepatan  Harga (Ratus Juta)
0            Toyota Agya       4  ...          6                1.00
1          Daihatsu Alya       4  ...          6                1.10
2          Toyota Avanza       6  ...          6                2.00
3         Daihatsu Xenia       6  ...          6                1.75
4                Xpander       7  ...          7                2.25
5                 Livina       7  ...          7                2.10
6                Karimun       3  ...          5                1.20
7          Toyota Innova       8  ...          7                4.00
8                Alphard       9  ...          8               10.00
9            Toyota Vios       5  ...          8                2.50
10            Honda City       5  ...          8                2.70
11          Toyota Hiace      10  ...          6                5.00
12       Toyota Fortuner       9  ...          8                5.00
13           Toyota Foxy       9  ...          7                5.50
14  Toyota Corolla Altis       5  ...          9                6.00
15         Suzuki Ertiga       7  ...          7                2.30
16          Suzuki Carry       7  ...          5                0.80

[17 rows x 6 columns]

In [ ]:
df.describe()

          Ukuran  Kenyamanan       Irit  Kecepatan  Harga (Ratus Juta)
count  17.000000   17.000000  17.000000  17.000000           17.000000
mean    6.529412    6.352941   6.941176   6.823529            3.247059
std     2.034627    2.234423   1.784327   1.131111            2.406597
min     3.000000    3.000000   4.000000   5.000000            0.800000
25%     5.000000    4.000000   6.000000   6.000000            1.750000
50%     7.000000    7.000000   7.000000   7.000000            2.300000
75%     8.000000    8.000000   9.000000   8.000000            5.000000
max    10.000000   10.000000  10.000000   9.000000           10.000000

# **Data Preprocessing**

Melakukan scaling normalisasi